#contact_form
{
		background-color: #373233;
		height: 585px;
		width: 740px;
		color : #6D6E71;
		font-size: 14px;
		text-align : center;
		font-weight: bold;
}

#form_container
{
		margin-left: auto;
		margin-right: auto;
		text-align : center;
		width : 550px;
		line-height: 30px;
		padding-top : 80px;
}

.contact_field
{
		margin-bottom: 25px;
}

.text_input
{
		background-color: #1D1D1D;
		border-style: none;
		color: #FFFFFF;
		width : 450px;
}

.text_input:focus
{
		border:1px solid #FEF000;
		font-family: "Helvetica Black", "Helvetica", sans-serif;
		
}
textarea.text_input
{
		font-size: 14px;
		font-family: "Helvetica Black", "Helvetica", sans-serif;
}

input.text_input
{
		font-size : 14px;
}

#message
{
		font-size : 16px;
		margin-left: auto;
		margin-right: auto;
		width : 550px;
		text-align : center;
		padding-top : 230px;
}

#sendmail
{
		color: #6D6E71;
		background-color: #FEF000;
		border-color : #FEF000;
		border-style : solid;
		width : 110px;
		height : 30px;
		font-size: 13px;
		cursor: pointer;
}

#contact_submit
{
		padding-top : 20px;
}