html,body
{
	font-family: "Helvetica Black", "Helvetica", sans-serif;
	font-size:12px;
	background-color: #2D2D2D;
	margin:0px;
	padding:0px;
}

.hidden
{
	display:none;
}

#page-container
{
	padding-top: 10px;
	width: 950px;
	margin: auto;
	height: 750px;
}

/*
Header Styles
*/
#header
{
	height : 90px;
}

#header_image{
	left:173px;
	top:30px;
	position: relative;
}

/*
Main panel styles
*/
#main
{
	float:left;
	height:650px;
	width: 770px;
}

#thumb_panel
{
	width:165px;
	height:580px;
	float:left;
	padding : 0px;
}

#image_panel
{
	float: right;
	width:604px;
	height:580px;
}

DIV#image_panel.loading {
  background: #2D2D2D url(/images/loader.gif) no-repeat center center;
}

.loading_thumb {
  background: url(/images/loader_small.gif) no-repeat center center;
}

#image_footer
{
	margin-left : 5px;
	clear : both;
	width : 730px ;
}

#flechas
{
	float: right;
}

#_image
{
	position: absolute;
}

.hidden_image
{
	z-index : -1;
}
.active
{
	z-index : 1;
}

/**
Thumbs
*/
.thumb
{
	width : 40px;
	height : 64px;
	float : left;
	background-color: #1D1D1D;
	margin: 4px 4px 4px 4px;
	padding: 0px;
	cursor:pointer;
	
}

div.thumb:hover
{
	margin: 2px 2px 2px 2px;
	border: 2px solid #FF4D0F;
}

div.thumb:active
{
	margin: 2px 2px 2px 2px;
	border: 2px solid #00A40E;
}

div.thumb_selected
{
	margin: 2px 2px 2px 2px;
	border: 2px solid #FFF200;
}

div.thumb_selected:hover
{
	margin: 2px 2px 2px 2px;
	border: 2px solid #FFF200;
}

a:link 
{
	border: 1px transparent;
}
a:visited 
{
	border: 1px transparent;
}
a:hover 
{
	border: 1px transparent;
}
a:active 
{
	border: 1px transparent;
}

a.thumb:hover
{
	border: 1px solid yellow;
}

/**
Footer
*/

#footer
{
	height:30px;
	clear:both;
	text-align:right;
}

.flecha
{
	right: 0px;
	cursor: pointer;
	padding-left: 23px;
}

#image_footer
{
	float: left;
	font-family: "Helvetica Black", "Helvetica", sans-serif;
	font-size:12px;
	color: #FFFFFF;
}

#random_fly
{
	position : fixed	;
	z-index : 100;
}

#copyright_text
{
	font-size: 10px;
	color: #585857;
}

#image_title
{
	padding-left: 47px;
}

/**
Extras
*/
textarea
{
	overflow : auto;
}

#facebook_like
{
	height: 25px;
	width : 950px;
}