html,body
{
	font-family: "Helvetica Black", "Helvetica", sans-serif;
	font-size:12px;
	background-color: #2D2D2D;
	margin:0px;
	padding:0px;
}

.hidden
{
	display:none;
}

#page-container
{
/*	padding-top:10px;
*/	width: 950px;
	margin: auto;
}

/*
Header Styles
*/
#header
{
	height : 90px;
}

#header_image{
	left:173px;
	top:21px;
	position: relative;
}

/*
Leftnav Styles
*/
#leftnav
{
	float: left;
	width : 170px;
	height:500px;
}

ul.sections
{
	cursor:pointer;
	padding: 0px 20px 0px 10px;
	list-style-type: none;
	line-height:30px;
	margin : 0px;
	font-weight : bold;
	text-decoration : none;
	
}

a{
	text-decoration : none;
	outline:none;
}


ul.albums
{
	margin-top: 0px;
	list-style-type: none;
	padding-right: 3px;
	text-align : right;
	padding-left:15px;
}

ul.albums li
{
	line-height : 20px;
	font-size: 13px;
	
}

.item_sections
{
	font-size: 15px;
	color:#585857;
	text-align : right;
	/*hover color: F5F5F5*/
}

.section_selected
{
	color:#F5F5F5;
}

.section_unselected
{
	color:#585857;
}

.album_selected
{
	color:#FFF200;
}

.album_unselected
{
	color:#BCBEC0;
}

/*
Main panel styles
*/
#main
{
	float:left;
	height:650px;
	width: 770px;
}

#thumb_panel
{
	width:160px;
	height:585px;
	float:left;
}

#image_panel
{
	float: right;
	width:604px;
	height:585px;
}

#image_footer
{
	margin-left : 175px;
	clear : both;
	width : 540px ;
}

#flechas
{
	float: right;
}

._image
{
	position : absolute;
}

.hidden_image
{
	z-index : -1;
}
.active
{
	z-index : 1;
}

/**
Thumbs
*/
.thumb
{
	width : 40px;
	height : 64px;
	float : left;
	background-color: #1D1D1D;
	margin: 4px 4px 4px 4px;
	cursor:pointer;
	
}

div.thumb:hover
{
	margin: 2px 2px 2px 2px;
	border: 2px solid #FFF200;
}

.thumb_selected
{
	margin: 2px 2px 2px 2px;
	border: 2px solid #FFF200;
}

a:link 
{
	border: 1px transparent;
}
a:visited 
{
	border: 1px transparent;
}
a:hover 
{
	border: 1px transparent;
}
a:active 
{
	border: 1px transparent;
}

a.thumb:hover
{
	border: 1px solid yellow;
}

/**
Footer
*/

#footer
{
	height:30px;
	clear:both;
	text-align:right;
}

.flecha
{
	right: 0px;
	cursor: pointer;
	padding-left: 23px;
}

#image_title
{
	float: left;
	font-family: "Helvetica Black", "Helvetica", sans-serif;
	font-size:12px;
	color: #FFFFFF;
}