html,body
{
	font-family: "Helvetica Black", "Helvetica", sans-serif;
	font-size:12px;
	background-color: #2D2D2D;
	margin:0px;
	padding:0px;
}

.hidden
{
	display:none;
}

#page-container
{
/*	padding-top:10px;
*/	width: 830px;
	margin: auto;
}

/*
Header Styles
*/
#header
{
	height : 90px;
}

#header_image{
	left:114px;
	top:21px;
	position: relative;
}

/*
Leftnav Styles
*/
#leftnav
{
	float: left;
	width : 113px;
	height:500px;
}

ul.sections
{
	padding: 0px 0px 0px 10px;
	list-style-type: none;
	line-height:20px;
	margin : 0px;
}

li>a{
	text-decoration : none;
	outline:none;
}


ul.albums
{
	margin-top: 0px;
	list-style-type: none;
	padding-right: 25px;
	text-align : left;
	padding-left:15px;
}

.item_sections
{
	font-size: 10px;
	color:#585857;
	/*hover color: F5F5F5*/
}

.section_selected
{
	color:#F5F5F5;
}

.section_unselected
{
	color:#585857;
}

.album_selected
{
	color:#FFF200;
}

.album_unselected
{
	color:#BCBEC0;
}

/*
Main panel styles
*/
#main
{
	float:left;
	height:500px;
	width: 700px;
}

#thumb_panel
{
	width:160px;
	height:650px;
	float:left;
}

#image_panel
{
	width:800px;
	height:650px;
}

/**
Thumbs
*/
.thumb
{
	width : 40px;
	height : 64px;
	float : left;
	background-color: #1D1D1D;
	margin: 4px 4px 4px 4px;
	cursor:pointer;
	
}

div.thumb:hover
{
	margin: 2px 2px 2px 2px;
	border: 2px solid #FFF200;
}

.thumb_selected
{
	margin: 2px 2px 2px 2px;
	border: 2px solid #FFF200;
}

a:link 
{
	border: 1px transparent;
}
a:visited 
{
	border: 1px transparent;
}
a:hover 
{
	border: 1px transparent;
}
a:active 
{
	border: 1px transparent;
}

a.thumb:hover
{
	border: 1px solid yellow;
}

/**
Footer
*/

#footer
{
	height:30px;
	padding-top:90px;
	clear:both;
	text-align:right;
	
}