#wallpaper_container
{
	background-color: #373233;
	height: 585px;
	width: 740px;
	color : #6D6E71;
	font-size: 14px;
	text-align : center;
}

#wallpaper_title
{
	padding-top: 45px;
	font-weight: bold;
}

#wallpaper_image_container
{
	width : 500px;
	text-align : center;
	margin:auto;
	margin-top: 20px;
}

#wallpaper_image
{
}

#wallpaper_links
{
	text-align : center;
	margin:auto;
	margin-top:20px;
	font-size: 14px;
}
	
.wallpaper_link
{
	padding : 5px;
}

#download_title
{
	padding-bottom : 10px;
}

a.wallpaper_link
{
	color : #585857;
}
a.wallpaper_link:link 
{
	border: 1px transparent;
}
a.wallpaper_link:visited 
{
	border: 1px transparent;
}
a.wallpaper_link:hover 
{
	border: 1px transparent;
	color : #BCBEC0;
	
}
a.wallpaper_link:active 
{
	border: 1px transparent;
	color : #00A40E;
}
